footer
  .container.text-center
    p.pull-left © 2016 Malmö Högskola, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://malmo.se') Malmö stad
      li
        a(href='http://mah.se') MAH
