extends ../layout

block content
  h2 Maps Examples
  
  p
  | foo bar
  | hello world
  | hello world
 
  body
  script (src="https://code.jquery.com/jquery-1.10.2.js")

  script (src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")


  script (src="https://maps.googleapis.com/maps/api/js?sensor=false")

  script (src="markercluster.js")

  script (src="List.js")

  script (src="Mapster.js")

  script (src="mapoptions.js")
  

  script (src="jquery.mapster.js")

  script (src="script.js")
  
  
