html {
	height: 100%;

}
body{
	height: 100%;
	padding: 0;
	margin: 0;
}
#map-canvas{
	height: 100%;
	width: 70%;
}
#pip-pano{
	right: 30px;
	width: 25%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
