<!DOCTYPE html>
<html>
<head>
<title>Save to database</title>
</head>
<body>
<form action="/new" method="POST">
	<label for="title">Titel: </label>
	<input type="title" name="titel"/>
	<label for="description">Description: </label>
	<input type="description" name="desription"/>
	<label for="min">Min: </label>
	<input type="min" name="min"/>
	<label for="max">Max: </label>
	<input type="max" name="Max"/>
	<label for="startLocation">Start location: </label>
	<input type="startLocation" name="startLocation"/>
	<label for="stopLocation">Stop location: </label>
	<input type="stopLocation" name="stopLocation"/>
	<button type="button">Save event</button>
</form>
</body>
</html>
